### Local settings ###
*.local
local.*
!local.*.sample

### Zsh cache ###
*.zwc
.zcomp*
*.swp
~

### Nix ###
result

### Direnv ###
.direnv

### Git Hooks ###
.pre-commit-config.yaml

### Karabiner ###
config/karabiner/automatic_backups/

### Neovim ###
.netrwhist

### Local scratch ###
tmp/
