git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
gui:
  language: "ja"
  nerdFontsVersion: "3"
  sidePanelWidth: 0.15
  showIcons: true
  theme:
    selectedLineBgColor:
      - underline
    selectedRangeBgColor:
      - underline
refresher:
  refreshInterval: 3
os:
  editCommand: "nvim"
